#testimonials {	
	background-color:#FFF;
	text-align:center;
	padding-bottom: 10px;
}


.nav > li > a:hover {
	-webkit-transition: 1s all ease;
		-moz-transition: 1s all ease;
			-o-transition: 1s all ease;
				transition: 1s all ease;
}


/* ANIMATION TESTING BELOW */


#features {
	background-color:#FC9;

}

.feat-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
}



.feat-list li {
        display: inline-block;
        margin: 0 2rem;
}

.feat-list img {
        width: 140px;
        opacity: 0;
        -webkit-transform: translateY(140px);
}

@-webkit-keyframes feature-animate {
        0% {
                opacity:0;
                -webkit-transform: translateY(140px);
        }

        60% {
                opacity: 0;
        }

        100% {
                opacity: 1;
                -webkit-transform: translateY(0);
        }
}


.js-feature-animate {
        -webkit-animation: feature-animate 1s ease-out 1 forwards;
}

.js-feature-delay-1 {
        -webkit-animation-delay: 100ms;
}

.js-feature-delay-2 {
        -webkit-animation-delay: 150ms;
}

.js-feature-delay-3 {
        -webkit-animation-delay: 200ms;
}

.js-feature-delay-4 {
        -webkit-animation-delay: 250ms;
}

.js-feature-delay-5 {
        -webkit-animation-delay: 325ms;
}

.js-feature-delay-6 {
        -webkit-animation-delay: 360ms;
}


/* CSS Animation */



.orbit-section {
        background-color: #C63;
		height: 200px;
}

.planet-wrapper {
        position: relative;
}

.planet {
        width: 100px;
		vertical-align:inherit;
}

.rocket {
        left: 50%;
        margin-left: -20px;
        position: absolute;
        top: -40px;
        width: 40px;
        -webkit-animation: rocket-rotation 6s linear infinite;
        /*
                animation-name: rocket-rotation;
                animation-duration: 6s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
        */
        -webkit-transform-origin: 50% 90px;
}
/*
        Don't forget all the other vendor prefixes
*/
@-webkit-keyframes rocket-rotation {
        100% {
                -webkit-transform: rotate(-360deg);
        }
}

img {
        display: block;
        margin: 0 auto;
}












