.testimonials {	
	background-color:#FFF;
	text-align:center;
	padding-bottom: 10px;
}

.testimonials blockquote {
	text-align:center;
	-webkit-animation: testimonial-opacity 8s linear 1 forwards;
}

@-webkit-keyframes testimonial-opacity {
	0% {
		-webkit-opacity: 0;
	}
	
	100% {
		opacity:1;
	}
}


/* ANIMATION TESTING BELOW */


.features-section {
        background-color: #f6a500;
}

.feat-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
}


.feat-list li {
        display: inline-block;
        margin: 0 2rem;
}

.feat-list img {
        width: 140px;
        opacity: 0;
        -webkit-transform: translateY(140px);
}

@-webkit-keyframes feature-animate {
        0% {
                opacity:0;
                -webkit-transform: translateY(140px);
        }

        40px {
                opacity: 1;
        }

        100% {
                opacity: 1;
                -webkit-transform: translateY(0);
        }
}


.js-feature-animate {
        -webkit-animation: feature-animate 4s ease-out 1 forwards;
}

.js-feature-delay-1 {
        -webkit-animation-delay: 100ms;
}

.js-feature-delay-2 {
        -webkit-animation-delay: 150ms;
}

.js-feature-delay-3 {
        -webkit-animation-delay: 200ms;
}

.js-feature-delay-4 {
        -webkit-animation-delay: 250ms;
}

.js-feature-delay-5 {
        -webkit-animation-delay: 325ms;
}

.js-feature-delay-6 {
        -webkit-animation-delay: 360ms;
}



















