.carousel {
  overflow: hidden;
  position: relative;
  padding: 0 0 52.6%;
}

.carousel img {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.slides [data-state="current"] {
  z-index: 100;
}

.slides [data-state="incoming"] {
  z-index: 101;
}

.carousel-buttons {
  position: absolute;
  z-index: 1000;
}