html {
	font-family: 'Gotham', sans-serif;
	color:#fff;
}

body {
	margin: 0;
	padding: 0;
}

.brand-img {
	width: 10%;
	height: 10%;
}

.nav {
	background-color: #cc9966;
	color:#fff;
}

home h1 {
	align:center;
}

.nav > li > a {
	padding-left: 30px;
	font-size:16px;
}

a:hover {
	color:#FF0;
	text-decoration:none;
	line-height:20px;	
}

html a:hover {
	color:#999;
	text-decoration:none;
}


#home img {
	height:100%;
	padding-bottom: 20px;
	width: 100%;
}

#btn-download {
	font-family: 'Gotham-light', sans-serif;
	padding: 10px;
	border-radius: 5px;
	font-size: 18px;
	height: 60px;
	width: 140px;
	margin-top: 20px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(10%,#fbdf93), color-stop(50%,#fccd4d), color-stop(89%,#f8b500));	
}

#home {
	background-color:#fff;
	font-family: 'Gotham-light', sans-serif;
	font-size: 18px;
	color:#000;
	padding: 10px;
}

.pull-right {
	text-align:right;
	float: right;
}

footer {
	font-family: 'Gotham-Thin';
	color: #fff;
	font-size: 14px;
	background-color: #cc9966;
	padding: 20px;	
}

@media (min-width: 768px) and (max-width: 1100px) {
	.nav > li > a {
		padding-left: 0px;
	}
}

@media (min-width: 800px) and (max-width: 1100px) {
	

	#home img {
		height:300px;
		padding-bottom: 20px;
		float:left;
		width: 50%;
		padding-right: 30px;
	}
	
	#btn-download {
		font-size: 20px;
		height: 70px;
		width: 150px;
	}

	footer {
		font-family: 'Gotham-Thin';
		font-size: 20px;
		padding: 20px;	
	}
	
	.navbar {
		font-size: 28px;
	}
	
	.navbar-nav > li > a {
		font-size: 20px;
		text-align:center;
		padding: 20px 20px;
	}
}



@media (min-width: 1100px) and (max-width: 1900px) {
	

	#home {
		margin-left: 100px;
		margin-right: 100px;
		font-size: 22px;
		margin-top: 20px;
	}
	
	#home img {
		height:300px;
		padding-bottom: 20px%;
		float:left;
		width: 40%;
		padding-right: 30px;
	}
	
	.navbar-nav > li > a {
		font-size: 24px;
		text-align:center;
		padding: 20px 20px;
	}
	
	#btn-download {
		font-family: 'Gotham-light', sans-serif;
		padding: 14px;
		border-radius: 5px;
		font-size: 20px;
		height: 70px;
		width: 150px;
		margin-top: 20px;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(10%,#fbdf93), color-stop(50%,#fccd4d), color-stop(89%,#f8b500));	
	}
	
	footer {
		font-family: 'Gotham-Thin';
		font-size: 20px;
		padding: 20px;	
	}
	
}


@media (min-width: 1900px) and (max-width: 3000px) {
	
	
	#home {
		margin-left: 100px;
		margin-right: 100px;
		margin-top: 20px;
		width: 75%;
		height: 100%;
		margin-bottom: 100px;
	}
	
	#home img {
		height:300px;
		float:left;
		width: 40%;
		padding-right: 30px;
	}

}



