html {
	font-family: 'Gotham', sans-serif;
	color:#fff;
}

body {
	margin: 0;
	padding: 0;
	padding-top: 70px;
}
/* Nav stuff here */
.brand-img {
	width: 20%;
	height: 20%;
}

.navbar-fixed-top {
	background-color: #000;
	color:#fff;
	vertical-align:top;
}


@media (min-width: 200px) and (max-width: 300px) {

	.brand-img {
		width: 10%;
		height: 10%;
	}

	.navbar-brand {
		padding: 0;
		float:none;
	}

}

blockquote {
	border:none;
}

.navbar-inverse .navbar-nav>li>a {
	color:#EED4A5;
}

.nav > li > a:hover {
	text-decoration:none;
	line-height:20px;	
	color:#FFF;
}


.row1-img {
	width: 70%;
}

.container-home {
	height: 100%;
	padding-bottom: 10px;
	background-color:#FC9;
	width: 100%;
}


.img-responsive {
	padding: 10px;
}

.circle {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        background-color: red;
        position: absolute;
        top: 300px;
        left: 300px;

        -moz-transition: all 100ms linear;
        -o-transition: all 100ms linear;
        -webkit-transition: all 100ms linear;
        transition: all 100ms linear;
}

[data-state="selected"] {
        border: 4px solid #000;
        z-index: 1000;
}

dialog {
	border: 4px solid #000;
	border-radius: 8px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	width: 510px;
}

dialog::backdrop {  /* We add two colons because 
						1 colon = pseudo class, a different state for that object, 
						2 colon = pseudo element, a thing you can style but is not in your html (e.g. backdrop, before, after  */
	background-color: rgba(0,255,0,0.5);
}

dialog + .backdrop {
  background-color: rgba(0,255,0,0.5);
}


img.grayscale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale {
  filter: none;
  -webkit-filter: grayscale(0%);
}

a:-webkit-any-link {
text-decoration: none;
cursor: auto;
}

/* Fancy box */
#dummy {
    display: none;
}

.fancybox-inner iframe {
    display: block;
    width: 100%;
    height: 100%;
}
/* end of fancy box */

.screenshots { /* Screenshots carousel */
	text-align:center;
	padding-top: 35px;

	padding-bottom: 20px;
	width: 100%;
	background-color:#FFF;
}

.flex-control-nav { 
	position: relative; 
}

.img-slide {
	width: 100%;
}

#pull-right {
	text-align:right;
	float: right;
}

.features {
	text-align:center;
	background-color:#FC9;
	margin-top: 20px;	
}

.features img {
	padding: 0;
	margin: 0;
	text-align:center;
}

.feat-list {
	list-style-type: none;
}

footer {
	font-family: 'Gotham-Thin';
	font-size: 14px;
	line-height: 10px;
	background-color: #000;
	color:#fff;
	padding: 10px;	
}

footer a {
	color: #EED4A5;
}

footer a:hover {
	color: #FFF;
}

@media (min-width: 800px) and (max-width: 1100px) {

	footer {
		font-family: 'Gotham-Thin';
	}
	
	.navbar {
		font-size: 28px;
	}
	
	.navbar-nav > li > a {
		font-size: 20px;
		text-align:center;
		padding-top: 20px;
	}
}



@media (min-width: 1100px) and (max-width: 1900px) {

	.navbar-nav > li > a {
		font-size: 24px;
		text-align:center;
		padding: 20px 20px;
	}
	
	footer {
		font-family: 'Gotham-Thin';
		font-size: 20px;
		padding: 20px;	
	}
	
}



